* {padding: 0;
    margin: 0;
    box-sizing: border-box;}
    body{
        margin:5px;
    }

/* header */
.header-background{
    background-image: url(../img/pattern.png);
    background-color:rgb(89, 172, 199);
    background-size: contain;
    height: 7rem;
    


}

#logo{
    width: 20%;
}

h1 {
    margin-top: 20px;
    font-size: 3rem;
}

#info-autori{ color: grey;
    

}
#writer{
    color:lightseagreen;
}
#date{color: grey;

}

.foto-header{
    margin-top: 20px;
}
.photo{
    font-size:12px;
}
.paragraph{
    margin-top: 20px;
}

.underline{
    background-color: yellow;
}

ul{margin-top: 20px;
    margin-left: 15px;
}
 table{
    margin-top: 20px;
 }

.right{width: 50%;
text-align: left;}
.left{
    text-align: left;
}

#title-row{
    background-color: aqua;
}
.lorem-blu{
    background-color: lightblue;
}